.custom-background {
    background-image: 'https://blog.vantagecircle.com/content/images/2021/01/Employee-Management-Meaning-Importance-Tips-Tools---More.png';
    background-size: cover;
    background-position: center;
  }